@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
  @apply mx-auto px-5 md:px-14 max-w-screen-xl;
}

.section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-sky-500 hover:bg-sky-600;
}

.secondary-cta {
  @apply bg-sky-700 hover:bg-sky-800;
}

.column {
  float: left;
  width: 49%;
}

.columnDivider {
  float: left;
  width: 2%;
  height: 400px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.instanceMatches {
  background-color: green;
  color: white;
  font-weight: 500;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.instanceDoesNotMatch {
  background-color: red;
  color: white;
  font-weight: 500;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.pathDiff {
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.boldFont {
  font-weight: 600;
}

.child-isSame-true {
  background-color: green;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  display: flex;
}

.child-isSame-false {
  background-color: rgba(255, 23, 23, 0.5);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  display: flex;
}

.child-inside {
  margin: 0px 25px;
}

.inline-row {
  display: inline;
  margin-right: 40px;
}

.bottom-margin {
  margin-bottom: 20px
}

.bigHeader {
  font-weight: 700;
  font-size: 25px;
}